@using FoodCorner.Areas.Client.ViewModels.Account
@model AddressListViewModel

<div class="" id="address-edit">
	<div class="myaccount-content">
		<h3>Billing Address</h3>
		<address>
			<p><strong>@Model.User</strong></p>
			<p>
				 @Model.Street <br>
				 @Model.City
			</p>
			<p>Mobile: @Model.PhoneNumber</p>
		</address>
		<a asp-route="client-account-edit-address" class="btn btn-save">
			<i class="fa fa-edit"></i>Edit
			Address
		</a>
	</div>
</div>