@using FoodCorner.Services.Abstracts
@inject IUserService userService

<div class=" " id="dashboad">
	<div class="myaccount-content">
		<h3>Dashboard</h3>
		<div class="welcome mb-20">
			<p>
				Hello, <strong>@userService.CurrentUser.FirstName @userService.CurrentUser.LastName</strong> (If Not <strong>
					@userService.CurrentUser.FirstName
					!
				</strong><a asp-route="client-auth-logout" class="logout">
					Logout
				</a>)
			</p>
		</div>
		<p class="mb-0">
			From your account dashboard. you can easily check &amp; view
			your
			recent orders, manage your shipping and billing addresses and edit your
			password and account details.
		</p>
	</div>
</div>
<!-- Single Tab Content End -->
<!-- Single Tab Content Start -->




<!-- Single Tab Content End -->
<!-- Single Tab Content Start -->

<!-- Single Tab Content End -->
<!-- Single Tab Content Start -->

<!-- Single Tab Content End -->
<!-- Single Tab Content Start -->









