@using FoodCorner.Areas.Client.ViewModels.Account
@model DetailsViewModel

<div class="" id="account-info">
	<div class="myaccount-content">
		<div class="d-flex justify-content-between">
			<h3>Account Details</h3>
			<div style="float:right;" class="">
				<a asp-route="client-account-updatePassword" class="btn btn-save">Change Password?</a>
			</div>
		</div>
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="account-details-form">
			<form method="POST" asp-route="client-account-details">
				<div class="row">
					<div class="col-lg-6 col-12  mb-2">
						<input asp-for="FirstName" id="first-name" placeholder="First Name" type="text">
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>
					<div class="col-lg-6 col-12  mb-2">
						<input  asp-for="LastName" id="last-name" placeholder="Last Name" type="text">
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
					<div class="col-12  mb-2">
						<input asp-for="Email" readonly id="email" placeholder="Email Address" type="email">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="col-12 mb-3">
						<button class="btn btn-save">Save Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
