@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FoodCorner.Areas.Admin.ViewModels.Order
@model List<OrderProductListItemViewModel>


<div class="" id="orders">
    <div class="myaccount-content">
        <h3>Order Products</h3>
        <div class="myaccount-table table-responsive text-center">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Img</th>
                        <th>Name</th>
                        <th>PersonSize</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="special-img"><img src="~/@item.ImgURl" /></td>
                            <td>@item.ProductName</td>
                            <td>@item.PersonSize</td>
                            <td>@item.Quantity</td>
                            <td>₼@item.Total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>