<div class="" id="orders">
	<div class="myaccount-content">
		<h3>Orders</h3>
		<div class="myaccount-table table-responsive text-center">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Date</th>
						<th>Status</th>
						<th>Total</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>3</td>
						<td>Murikhete Paris</td>
						<td>June 12, 2017</td>
						<td>On Hold</td>
						<td>$99</td>
						<td><a href="cart.html" class="btn btn-save">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>