<div class="" id="specialOrder">
	<div class="myaccount-content">
		<h3>Special</h3>
		<div class="myaccount-table table-responsive text-center">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th></th>
						<th>Image</th>
						<th>Name</th>
						<th>About</th>
						<th>Date</th>
						<th>Total</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="remove-special"><a href=""><i class="fa-regular fa-circle-xmark"></i></a></td>
						<td class="special-img"><img src="/~/Client/assets/images/Product/SekaTort2.jpeg" alt=""></td>
						<td>Murikhete Paris</td>
						<td>Balli Tort Sekadi</td>
						<td>June 12, 2017</td>
						<td>$99</td>
						<td><a href="cart.html" class="btn btn-save">Place Order</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>