@using FoodCorner.Areas.Client.ViewModels.Account
@model UpdatePasswordViewModel
<div class="" id="account-info">
	<div class="myaccount-content">
		<div class="d-flex justify-content-between">
			<h3>Update Password</h3>
		</div>
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="account-details-form">
			<form method="POST" asp-route="client-account-updatePassword">
				<div class="row">
					<div class="col-12  mb-2">
						<input asp-for="Password" id="current-pwd" placeholder="Current Password"
							   type="password">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="col-lg-6 col-12  mb-2">
						<input asp-for="NewPassword" id="new-pwd" placeholder="New Password"
							   type="password">
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>
					<div class="col-lg-6 col-12  mb-2">
						<input asp-for="ConfirimNewPassword" id="confirm-pwd" placeholder="Confirm Password"
							   type="password">
						<span asp-validation-for="ConfirimNewPassword" class="text-danger"></span>
					</div>
					<div class="col-12">
						<button class="btn btn-save">Save Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>