@using FoodCorner.Areas.Client.ViewCompanents
@using FoodCorner.Services.Abstracts
@inject IUserService userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Corner</title>

    <!-- <link rel="stylesheet" href="/assest/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="~/Client/assets/images/icons/favicon.png" />

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Client/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/main.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/style.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/Login.css">

    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/blog.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/shoppingCart.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/wishList.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/MyAccount.css">
    <link asp-append-version="true" rel="stylesheet" href="~/Client/assets/css/CheckOut.css">
</head>
<body>

    <header>
        <div class="header-main">
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center">
                        @await Component.InvokeAsync(nameof(Navbar))

                        <div class="header-mid col-lg-4 col-8">
                            <a href=""><img src="~/Client/assets/images/Logo/Logo-edit-transformed.png" alt=""></a>
                        </div>
                        <div class="col-lg-4 col-2">
                            <div class="header-right d-flex justify-content-end align-items-center">
                                <div class="header-icon d-flex justify-content-between align-items-center">
                                    <button class="header-ico-btn  search-btn-index border-0" href=""><i class="fa-solid fa-magnifying-glass"></i></button>


                                    <button class="header-ico-btn basket-btn icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>

                                    <div class="wrap-header-cart js-panel-cart">
                                        <div class="s-full js-hide-cart"></div>

                                        <div class="header-cart flex-col-l p-l-65 p-r-25">
                                            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                                                <span class="cl2">
                                                    Your Cart
                                                </span>

                                                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                                                    <i class="zmdi zmdi-close"></i>
                                                </div>
                                            </div>


                                            <div class="cart-block header-cart-content flex-w js-pscroll">
                                                @await Component.InvokeAsync(nameof(MiniBasket))
                                            </div>



                                        </div>
                                    </div>

                                    <button class="header-ico-btn basket-btn icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                        <a asp-route="client-wishlist-index" style="color: #0F4438;"><i class="fa-solid fa-heart"></i></a>
                                    </button>

                                    <button class="header-ico-btn border-0 user-icon-btn">
                                        <i class="fa-solid fa-user"></i>
                                        <div class="user-icon d-flex flex-column text-start">
                                            <a class="border-0 user-close mb-1 text-right"><i class="fa-solid fa-xmark"></i></a>
                                            <h3><img src="~/Client/assets/images/Logo/logo-6nlpJWJn2-transformed.png" alt=""></h3>
                                            @if (userService.IsAuthenticated)
                                            {
                                                <a asp-route="client-account-dashboard" class="user-btn">My Account</a>
                                                <div class="log d-flex flex-column-reverse align-items-center">
                                                    <a asp-route="client-account-dashboard" class="register">@userService.CurrentUser.FirstName @userService.CurrentUser.LastName</a>
                                                    <a asp-route="client-auth-logout" class="register mt-2 mb-2">Logout</a>
                                                </div>
                                            }
                                            else
                                            {
                                                <a asp-route="client-auth-login" class="user-btn">Login</a>
                                                <div class="log d-flex  align-items-center">
                                                    <span>No account yet? </span>
                                                    <a class="register" asp-route="client-auth-register">REGISTER HERE.</a>
                                                </div>
                                            }
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>

    <div class="container">
        <div class="search-modal flex-c-m trans-04">
            <div class="container-search-header">
                <button class="search-close">
                    <i class="fa-solid fa-xmark"></i>
                </button>

                <form>
                    <input class="search-box" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>



    @RenderBody()




    <footer id="footer" class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">

                @await Component.InvokeAsync(nameof(Footer))

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="footer-btn flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="~/Client/assets/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Client/assets/images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Client/assets/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Client/assets/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Client/assets/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Ravan Mahmood </a>

                </p>
            </div>
        </div>
    </footer>






    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Modal1 -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>

        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="~/Client/assets/images/icons/icon-close.png" alt="CLOSE">
                </button>

                <div class="row product-details-modal">

                    @*@await Component.InvokeAsync(nameof(Modal))*@

                </div>
            </div>
        </div>
    </div>


    <div id="toaster" class="bg-success d-inline">
        <span class="text-light">Product Aded To Basket</span>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <!-- <script src="~/Client/assets/vendor/jquery/jquery-3.2.1.min.js"></script> -->
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Client/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Client/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/slick/slick.min.js"></script>
    <script src="~/Client/assets/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/sweetalert/sweetalert.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Client/assets/js/main.js"></script>
    <script src="~/Client/assets/js/Basket.js" asp-append-version="true"></script>

    <script src="~/Client/assets/js/app.js" asp-append-version="true"></script>

    <script src="~/Client/assets/js/shop.js"></script>
</body>
</html>
