 <!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Client/assets/images/Product/SekaTort2.jpeg');   background-position: center; background-repeat: no-repeat; background-size: cover;">
    <h2 class="ltext-105 cl0 txt-center">
        Wish List
    </h2>
</section>


<!-- Content page -->

<main class="main-content mt-5 mb-5">
    <div class="wishlist-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="javascript:void(0)">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product_remove"></th>
                                        <th class="product-thumbnail">images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="product-price">Unit Price</th>
                                        <th class="cart_btn">add to cart</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product_remove">
                                            <a href="#">
                                                <i class="fa-regular fa-circle-xmark"></i>
                                            </a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="#">
                                                <img src="~/Client/assets/images/Product/SekaTort2.jpeg"
                                                     alt="Wishlist Thumbnail" />
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="#">American Marigold</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">$23.45</span>
                                        </td>
                                        <td class="cart_btn"><a href="#" class="btn-save">add to cart</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>